*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
     scroll-behavior: smooth;
   }
   :root{
    
   --primary-color:black;
   --Secondary1-color:#007bff;
   --third-color:#33ddff;
   --Fourth-color:#33ddff;
   --Fifth-color:#44ffdd;
   --sixth--color:#fff;
   --Seventh--color:#dce7b1;
   
   
   }
   /* Custom Scroll Bar CSS */
   ::-webkit-scrollbar {
       width: 10px;
   }
   ::-webkit-scrollbar-track {
       background:var(--sixth--color);
   }
   ::-webkit-scrollbar-thumb {
       background:var(--Secondary1-color);
       border-radius: 12px;
       transition: all 0.3s ease;
   }
   
   ::-webkit-scrollbar-thumb:hover {
       background: var(--Secondary1-color);
   }
   body{
       overflow-x: scroll;
   }
   header{
   
       position:fixed;
       z-index: 2;
       width: 100%;
   }
   .nav{
       position: relative;
       top: 0;
        background: transparent;
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-weight: 500;
        text-decoration: none;
        height: 20vh;
        list-style: none;
        
        
         
   }
   .scroll-button a {
       position: fixed;
       bottom: 20px;
       right: 20px;
       color:var(--sixth--color);
       background:var(--Secondary1-color);
       padding: 7px 12px;
       font-size: 18px;
       border-radius: 6px;
       box-shadow: rgba(0, 0, 0, 0.15);
       display: none;
   }
   .Logo{
       display: flex;
       flex-direction: row;
       margin-left: 22px;
   }
   .main_logo{
       left: 5px;
   }
   #Second_logo img{
       position: relative;
       top: 15px;
   }
   .menu{
      
          display: flex;
          justify-content:space-evenly;
          align-items: center;
          width: 60%;
          font-size:20px ;
          margin-right: 10px;
   
   
   }
   .menu .menu_items{
                 margin-left: 30px;
                 text-decoration: none;
                 color:var(--primary-color);
                 transition: all 0.5s ease;
   }
   .menu .menu_items:hover{
       color: var(--Secondary1-color);
       letter-spacing: 2px;
   }
   .menu .menu_items1  >i{
       position: relative;
       border: 1px solid var(--Secondary1-color);
       border-radius: 50%;
       padding: 10px;
       top:-7px;
       margin-left: 12px;
   }
   .menu .menu_items>i:hover{
       transform: scale(1.1);
   }
   
   header.sticky{
       background:skyblue;
   }
   
     @media only screen and (max-width: 760px){
     }
   
     .container1{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-around;
       background-image: linear-gradient(to right,skyblue 28%,white 72%);
       height: 870px;
   
     }
     .container1-head h1{
       font-size: 70px;
       margin-top: 200px;
     }
     .container1-head p{
       font-size: 20px;
       padding: 10px 0px;
       letter-spacing: 3px;
     }
     .btn-order button{
       margin: 50px 0px;
       background-color: var(--Secondary1-color);
       border-color: transparent;
       border-radius: 50px 50px;
       padding: 10px 30px;
       font-size: larger;
       font-weight: bold;
    }
    .btn-order a{
       color: var(--sixth--color);
       text-decoration: none;
    }
    .container1 img{
       margin-top: 200px;
       margin-bottom: 50px;
    }